* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Header */
header {
  background-color: #f8b400;
  color: white;
  padding: 20px 0;
}

header .container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 36px;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #333;
}

/* Estilos para a imagem hero */
.hero-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-top: 3px solid #f8b400;
  border-bottom: 3px solid #f8b400;
}