* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

header {
  background-color: #f8b400;
  color: white;
  padding: 15px 0;
}

header .container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 36px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid rgba(255,255,255,0.2);
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #333;
}

.imagem img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.sobre-nos {
  padding: 100px;
  background-color: #fff0e1;
  text-align: center;
}

.paragrafo-texto {
  max-width: 800px;
  margin: auto;
  font-size: 20px;
  line-height: 1.6;
}

.cardapio {
  padding: 50px 20px;
  background-color: #fff0e1;
  text-align: center;
}

.cardapio h2 {
  margin-bottom: 10px;
}

.itens-cardapio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 900px;
  margin: auto;
  text-align: center;
}

.itens-cardapio > div{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.itens-cardapio img{
  width: 230px;
  height: 150px;
  border-radius: 8px;
}

.item-cardapio {
  border: 2px solid #ffda76;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  background-color: #fff8e5;
}

.item-cardapio h3{
  color: #ffbb00;
}

.btn-cardapio {
  display: inline-block;
  background-color: #f8b400;
  color: white;
  padding: 12px 30px;
  margin: 20px 0;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.btn-cardapio:hover {
  background-color: #ffbb00;
}

.contato {
  padding: 50px 30px;
  background-color: #fff0e1;
  text-align: center;
}

.contato h2 {
  margin-bottom: 10px;
}

.contato p {
  font-size: 18px;
  margin: 10px;
}

.footer {
  background-color: #f8b400;
  text-align: center;
  padding: 15px 0;
}